<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li>
            <a href="/realtimechart-0"><i class="fa fa-fw fa-bar-chart-o"></i>  감지기 전체</a>
        </li>
        <li>
           <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-bar-chart-o"></i> 감지기 선택 <i class="fa fa-fw fa-caret-down"></i></a>
             <ul id="demo" class="collapse">
                 <li>
                   <a href="/realtimechart-1">1번 감지기</a>
                 </li>
                 <li>
                   <a href="/realtimechart-2">2번 감지기</a>
                 </li>
                 <li>
                   <a href="/realtimechart-3">3번 감지기</a>
                 </li>
                 <li>
                   <a href="/realtimechart-4">4번 감지기</a>
                 </li>
                 <li>
                   <a href="/realtimechart-5">5번 감지기</a>
                 </li>
                 
             </ul>
         </li>
        <li class="active">
            <a href="/input"><i class="fa fa-fw fa-gear"></i> 설 &nbsp;&nbsp;정</a>
        </li>
    </ul>
</div>
